---
const { color } = Astro.props;
---

<span class="dot">.</span>

<style>
    .dot {
        margin: 0;
        padding: 0;
        font-size: 56px;
        line-height: 10px;
        color: white;
    }
</style>